* {
    font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------*/
/* Estilos del encabezado
/*----------------------------------------*/
.contenedor{
    display:grid;
    grid-template: auto auto auto/ auto ;
    grid-template-areas:"encabezado"
                        "educacion"
                        "pie";

}.contenedor-educacion{
    display: grid;
    grid-template: auto / 45% 45%;
    grid-area: educacion;
}

.encabezado {
    display: flex;
    background-image: url(/imagenes/BandaH.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size:auto;
    background-size: 1289px 112px;
    grid-area: encabezado;
}   
    
.titulo h1 p{ 
    font-size: 35px;
    color:#333333;
    margin: 0px;
    padding-top: 60px;
    padding-left: 40px;
}


/*----------------------------------------*/
/* Estilos del menu del encabezado
/*----------------------------------------*/

.menubandah{
    display: flex;
    margin-left: 310px;
}

.menubandah ul{
    list-style: none;

}

.menubandah ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 0px;
    
}

.menubandah li a{
    color:#333333;
    padding: 8px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 8px;
    background-color: #DAC0A3;
    margin-left: 30px;

}

.menubandah a:hover{
    border: 1px;
    background-color: #867d75;

}

/*----------------------------------------*/
/* Estilos Educacion
/*----------------------------------------*/

/* EDUCACION */
.edu-col h3{
    margin: 0px;
}
.edu{
    padding-left: 40px;
    text-align:left;
    color: #333333;
    font-weight: bold;
}
.texto p{
    padding-left: 40px;
    text-align:left;
    color: #333333;
    font-weight: normal;
    margin: 0px;
}
.banda{
    margin: 0px;
    padding: 0px 0px 0px 40px;
}

/*----------------------------------------*/
/* Estilos del pie
/*----------------------------------------*/

.pie {
    display: flex;
    background-image: url(/imagenes/BandaF.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:auto;
    background-size: 1289px 25px;
    grid-area: pie;

}   
    
.pie-izq h2 p{ 
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color:#333333;
    margin: 0px;
    padding-left: 40px;
}

.pie-menu-der{
    display:flex;
    margin-left: 1110px;
}

.pie-menu-der ul{
    list-style: none;
}

.pie-menu-der ul li{
    display: inline-block;
}

.pie-menu-der li a{
    text-decoration: none;
}

.pie-menu-der a img{
    width: 20px ;
    height: 20px;
    padding-right: 5px;
    padding-top: 5px;
}
.pie-menu-der a img:hover{
    scale: 1.2;
}
