* {
    font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------*/
/* Estilos del encabezado
/*----------------------------------------*/

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado-banda {
    width: 1290px;
    height: 152px;
    margin: 0px;

}

.encabezado-foto {
    width: 254px;
    height: 269px;
    margin: -65px 0px 10px 0px;
    padding: 0px;
}

.encabezado-titulo1 h1{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: -1px;
    padding: 0px 0px;

}

.encabezado-titulo2 h2{
    font-weight: bold;
    font-size: 40px;
    margin-top: -16px;
    padding: 0px 0px;
}

.encabezado-titulo3 h3{
    font-weight: bold;
    font-size: 30px;
    margin-top: -40px;
    margin-bottom: -15px;
    padding: 0px 0px;
   
}
/*----------------------------------------*/
/* Estilos del menu
/*----------------------------------------*/

.menu{
    display:flex;
    justify-content: center ;

}

.menu ul{
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu ul li{
    display: inline-block;

}

.menu li a{
    color:#333333;
    padding: 10px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 8px;
    background-color: #DAC0A3;
    margin: 0px 40px ;

}

.menu a:hover{
    border: 1px;
    background-color: #867d75;

}

/*----------------------------------------*/
/* Estilos del pie
/*----------------------------------------*/
.piebanda{
    display: flex;
    justify-content: center;
    padding-top: 2px;
   
}